debug/
target/
build/
builddevel/
buildaarch64/
_build/
builddir/
build-aux/app
venv/
*.ui.in~
*.ui~
.flatpak/
vendor
**/.flatpak-builder
.fenv
po/*~
flatpak_out/
flatpak_repo/
*.flatpak
**/*.rs.bk
*.pdb
.vscode/
*.git
*.syscap
