debug/
target/
build/
builddevel/
_build/
builddir/
build-aux/app
*.ui.in~
*.ui~
.flatpak/
vendor
**/.flatpak-builder
.fenv
po/*.pot
po/*~
help/*.pot
flatpak_out/
flatpak_repo/
*.flatpak
**/*.rs.bk
*.pdb